{% extends 'base.html' %} {% block page_name %} Home {% endblock page_name %} 

{% comment %} 
you cant add add logic to your html code besides the templates that django provides
however, django offers filters as well like |add= "1" to add one to a number
which we will usee below {% endcomment %}

{% comment %} we don't need it now because of the paginator {% endcomment %}

{% block content%} 

 {% comment %} on clicking on the room its details will be called
        by sending its id to the url {% endcomment %}
    {% for room in rooms %}
        <h3>
        {% comment %} the below url is same as this string /rooms/{{room.pk}} {% endcomment %}
            <a href="{% url 'rooms:detail' room.pk%}">
                {{room.pk}}- {{room.name}} - {{room.price}}
            </a>
        </h3>
    {% endfor %} 

    <h5> 
    {% if page_obj.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}


    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>



    
{% endblock content%}


