{% extends 'base.html' %} {% block page_name %} Home {% endblock page_name %} 

{% comment %} 
you cant add add logic to your html code besides the templates that django provides
however, django offers filters as well like |add= "1" to add one to a number
which we will usee below {% endcomment %}

{% comment %} we don't need it now because of the paginator {% endcomment %}

{% block content%} 

    <div class="container mx-auto">

        <div class="container rounded-xl mx-auto bg-gray-800 h-50vh mt-32 mb-24 bg-center bg-cover" style="background-image:url(https://images.unsplash.com/photo-1541336032412-2048a678540d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)"></div>

            {% comment %} on clicking on the room its details will be called
            by sending its id to the url {% endcomment %}
        <div class="flex flex-wrap px-1 mb-10">
            {% for room in rooms %}
                {% include "partials/room_card.html" with room=room %}
            {% endfor %} 
        </div>

        <div class="flex pb-10 items-center justify-center mx-auto container"> 
            {% if page_obj.has_previous %}
                <a href="?page={{page.previous_page_number}}" class="text-teal-400">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>


            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-400">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>

    </div>
    
{% endblock content%}


