{% extends 'base.html' %}

{% block page_name %}
    Login
{% endblock page_name %}


{% block search_bar %}
{% endblock search_bar %}
{% block content %}

    <div class="container lg:w-5/12 sm:w-1/2 md:w-1/2 xl:w-1/4 mx-auto my-10 flex-col items-center border-gray-400">
        {% include "partials/social_login.html" %}

        <form method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button>Login</button>
        </form>
    </div>


    
{% endblock content %}
